/* This is my site skin on Archive of Our Own. */

li.blurb {
  overflow-y: hidden;
  overflow-x: hidden;
}

li.blurb .tags {
  max-height: 5em;
  overflow-y: auto;
  border: 1px solid #ddd;
  font-size: 9pt;
  opacity: 0.9;
}

li.blurb .summary {
  max-height: 10em;
  overflow-y: auto;
}

li.blurb .stats {
  margin-top: 0;
}

a.tag {
  border: 0;
}

/* choose which required tags you want to cover the blurbs for 
   you must add the li.blurb overflow:hidden CSS section for this to work properly */
.rating-explicit,
.warning-yes,
.category-femslash,
.complete-no {
  background-color: black !important;
  background-image: url("/images/skins/textures/tiles/red-ao3.png") !important;
  background-repeat: repeat !important;
  height: 40em !important;
  width: 1500px !important;
  top: -50px;
  left: -50px;
  position: absolute;
  z-index: 5;
}

/* OPTIONS:
    What it does: add on to archive skin
    Parent Skins: For The Trees
*/
